.biography {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem;
  background-color: #cfd7fe;
}

.biography .biography-image {
  border-radius: 50%;
}

.biography .biography-text {
  width: 70%;
  margin-left: 5rem;
  font-weight: 300;
  font-size: 24px;
}

p {
  line-height: 46px;
}

.biography-link {
  border: 1px solid #b6b6b675;
  border-radius: 12px;
  font-size: 24px;
  line-height: 29px;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .biography {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .biography .biography-text {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .biography .biography-text {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin: 0;
  }

  .biography .biography-text p {
    line-height: 24px;
  }

  .biography .biography-text .biography-link {
    font-size: 12px;
  }

}